.footer__items {
    margin: 92px auto 24px;
}

@media screen and (max-width: 1023px) {
    .footer__items {
        margin: 88px auto 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer__items {
        margin: 64px auto 24px;
    }
}