.lead {
    display: flex;
    width: calc(100% - 2 * 148px);
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .lead {
        width: calc(100% - 2 * 54px);
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        width: 100%;
    }
}