.places__place {
    margin: 80px auto 0;
}

.places__place:first-of-type {
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .places__place {
        margin-top: 73px;
    }
}

@media screen and (max-width: 767px) {
    .places__place {
        margin-top: 73px;
    }
}

@media screen and (max-width: 459px) {
    .places__place {
        margin-top: 50px;
    }

    .places__place:last-of-type .place__paragraph {
        margin: 0 auto;
    }
}
